<%= render 'nav/top' %>

<div class="wrapper">

  <nav id="sidebar">
    <%= render partial: 'dashboard_sellers/panel', locals: {
      locations: @locations,
      products: @products
    } %>
  </nav>

  <div id="content">

    <%= render partial: 'dashboard_sellers/nav' %>

    <%= render partial: 'sellers/edit' %>

    <%= render partial: 'locations/new', locals: { 
      location: @seller.locations.new, 
      owner_type: "Seller", 
      owner_id: @seller.id, 
      url: seller_locations_path(@seller) }
    %>

    <% unless @locations.empty? %>
      <% @locations.each do |location| %>
        <%= render partial: 'locations/edit', locals: { 
          location: location, 
          owner: @seller, 
          owner_type: "Seller", 
          owner_id: @seller.id, 
          owner_slug: @seller.slug } %>
      <% end %>
    <% end %>

    <%= render partial: 'sales/show' %>

    <%= render partial: 'products/new', locals: { seller: @seller, product: @new_product } %>

    <% unless @products.empty? %>
      <% @products.each do |product| %>
        <%= render partial: 'products/edit', locals: { 
          seller: @seller, 
          product: product } %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'nav/footer' %>