<div class="list-group">
  <h5 class="dashboard-header"><%= t(:client_dashboard) %></h5>

  <button class="list-group-item list-group-item-action rounded" data-toggle="collapse" data-target="#account" role="button" aria-expanded="false" aria-controls="account"><%= t(:account) %></button>

  <button class="list-group-item list-group-item-action rounded" data-toggle="collapse" data-target="#newAddress" role="button" aria-expanded="false" aria-controls="newAddress"><%= t(:new_address) %></button>

  <a class="list-group-item list-group-item-action rounded dropdown-toggle" href="#addressList" data-toggle="collapse" aria-expanded="false" class=""><%= t(:adresses) %></a>

  <ul class="collapse list-unstyled" id="addressList">
    <% locations.each do |location| %>
      <li>
        <a class="list-group-item list-group-item-dark" href="#" data-toggle="collapse" data-target="#<%= location.name %>-col" role="button" aria-expanded="false" aria-controls="<%= location.name %>-col"><%= location.name %></a>
      </li>
    <% end %>
  </ul>

  <button class="list-group-item list-group-item-action rounded" data-toggle="collapse" data-target="#orders" role="button" aria-expanded="false" aria-controls="orders"><%= t(:orders) %></button>
</div>