<%= render 'nav/top' %>

<div class="wrapper">

  <nav id="sidebar">
    <%= render partial: 'dashboard_clients/panel', locals: {
      locations: @locations
    } %>
  </nav>

  <div id="content">

    <%= render partial: 'dashboard_clients/nav' %>

    <%= render partial: 'clients/edit' %>

    <%= render partial: 'locations/new', locals: { 
      location: @client.locations.new, 
      owner_type: "Client", 
      owner_id: @client.id, 
      url: client_locations_path(@client) }
    %>

    <% unless @locations.empty? %>
      <% @locations.each do |location| %>
        <%= render partial: 'locations/edit', locals: { 
          location: location, 
          owner: @client, 
          owner_type: "Client", 
          owner_id: @client.id, 
          owner_slug: @client.slug } %>
      <% end %>
    <% end %>

    <%= render partial: 'orders/show' %>

  </div>
</div>

<%= render 'nav/footer' %>