<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="d-flex justify-content-center">
      <span class="border-bottom border-primary">
        <%= t(:all_categories).titleize %>
      </span>
    </h2>
    <p class="lead d-flex justify-content-center flex-wrap">
      <% @categories.each do |category| %>
        <%= link_to category[0], c_category_path(category[0]), class: "home-links" %>
      <% end %>
    </p>
    <hr class="my-4">
    <h2 class="d-flex justify-content-center">
      <span class="border-bottom border-primary">
        <%= t(:featured_sellers).titleize %>
      </span>
    </h2>
    <p class="lead d-flex justify-content-center flex-wrap">
      <% @sellers.each do |seller| %>
        <%= link_to seller.name, c_seller_path(seller.slug), class: "home-links" %>
      <% end %>
    </p>
    <hr class="my-4">
    <h2 class="d-flex justify-content-center">
      <span class="border-bottom border-primary">
        <%= t(:popular_tags).titleize %>
      </span>
    </h2>
    <p class="lead d-flex justify-content-center flex-wrap">
      <% @tags.each do |tag| %>
        <%= link_to tag, catalogue_path(tag: tag), class: "home-links" %>
      <% end %>
    </p>
  </div>
</div>