<%= render 'nav/top' %>
<br/>
<h1><%= t(:main_title, :default => 'Ooops!') %></h1>
<div><%= render 'layouts/catalogue_links'%></div>
<br/>
<nav><%= render 'nav/footer' %></nav>
<br/>
<br/>
<nav><%= render 'layouts/dev_info' %></nav>
