<span>Edit Products</span>

<% @products.each do |product| %>
  <% if product.slug && product.prepare_empty_tags %>
    <%= form_with model: product, url: seller_product_path(@seller.slug, product.slug), id: product.slug do |f| %>

      <%= f.label :category, "Category" %>
      <%= f.select(:category, options_for_select(Category.all_as_hash[params['locale']])) %><br/> 
     
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %><br/>

      <%= check_box_tag(:en) %>
      <%= label_tag("Make available in English") %><br/>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %><br/>

      <% I18n.non_default_locales_hash.each do |sym, string| %>
        <%= check_box_tag(sym) %>
        <%= label_tag("Make available in " + string) %><br/>

        <%= f.fields_for :product_translations do |trans| %>
          <%= trans.label "Description" %>
          <%= trans.text_field :description %>
          <%= trans.hidden_field :lang, value: sym %>
        <% end %><br/>
      <% end %>

      <%= f.text_field :translations %>#hidden + javascript<br/>

      <%= f.label :price, "Price" %>
      <%= f.text_field :price %><br/>

      <%= f.label :price_excl_vat, "Price excl vat" %>
      <%= f.text_field :price_excl_vat %><br/>

      <%= f.fields_for :product_tags do |tf| %>
        <%= tf.label :tag %>
        <%= tf.text_field :tag %>
        <%= tf.label :lang %>
        <%= tf.text_field :lang %>
        <%= tf.label "Remove:" %>
        <%= tf.check_box :_destroy %><br/>
      <% end %>

      <%= f.hidden_field :seller_id, value: @seller.id %>

      <%= f.submit "Edit" %>

    <% end %>

    <% if product.cover.attached? %>
      <%= image_tag(url_for(product.cover), size: size_small) %>
      <%= form_with model: product, url: update_cover_seller_product_path(@seller.slug, product.slug), id: "product_cover_" + product.slug do |af| %>
        <%= af.label :cover %>
        <%= af.file_field :cover %>
        <%= af.submit "Submit"%>
      <% end %>
    <% end %>

    <%= form_with model: product, url: attach_image_seller_product_path(@seller.slug, product.slug), id: "new_image_" + product.slug do |af| %>
          <%= af.label :image %>
          <%= af.file_field :image, multiple: true %>
          <%= af.submit "Submit"%>
        <% end %>

    <% if product.images.attached? %>
      <% product.images.each do |i| %>
        <%= image_tag(i, size: size_small) %>
        <%= form_with model: product, url: delete_image_seller_product_path(@seller.slug, product.slug), id: i.id, class: "del_img" do |af| %>
          <%= af.label :image %>
          <%= af.hidden_field :image_id, value: i.id %>
          <%= af.submit "Delete"%>
        <% end %> 
      <% end %>
    <% end %>

    <%= link_to 'Remove product', seller_product_path(@seller.slug, product.slug), method: :delete, data: { confirm: 'Are you sure?' }%>

  <% end %>
  <br/>
<% end %>