<span>Edit Products</span>

<% @products.each do |product| %>
  <% if product.slug && product.prepare_empty_tags %>
    <%= form_with model: product, url: seller_product_path(@seller.slug, product.slug), id: product.slug do |f| %>

      <%= f.label :name, "Name" %>
      <%= f.text_field :name %><br/>

      <%= f.label :name, "Slug" %>
      <%= f.text_field :slug %><br/>

      <%= f.label :category, "Category" %>
      <%= f.select(:category, options_for_select(@categories, product.category)) %><br/>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %><br/>

      <%= f.label :price, "Price" %>
      <%= f.text_field :price %><br/>

      <%= f.label :price_excl_vat, "Price excl vat" %>
      <%= f.text_field :price_excl_vat %><br/>

      <%= f.fields_for :product_tags do |tf| %>
        <%= tf.label :tag %>
        <%= tf.text_field :tag %>
        <%= tf.label "Remove:" %>
        <%= tf.check_box :_destroy %><br/>
      <% end %>

      <% if product.logo.attached? %>
        <%= image_tag(url_for(product.logo), size: size_small) %>
        <%= link_to 'Remove cover', delete_logo_seller_product_path(@seller.slug, product.slug), method: :delete, data: { confirm: 'Are you sure?' }%><br/>
      <% end %>
      <%= f.label :logo, "Cover picture:" %>
      <%= f.file_field :logo %><br/>

      <% if product.images.attached? %>
        <%= link_to 'Remove images', delete_images_seller_product_path(@seller.slug, product.slug), method: :delete, data: { confirm: 'Are you sure?' }%><br/>   
        <% product.images.each do |i| %>
          <%= image_tag(i, size: size_small) %><br/>
        <% end %>
      <% end %>
      <%= f.label :images, "Images" %>
      <%= f.file_field :images, multiple: true %>

      <%= f.hidden_field :seller_id, value: @seller.id %>

      <%= f.submit "Edit" %>

    <% end %>

    <%= link_to 'Remove product', seller_product_path(@seller.slug, product.slug), method: :delete, data: { confirm: 'Are you sure?' }%>

  <% end %>
  <br/>
<% end %>