<div id="newProduct" class="collapse" data-parent="#content">
  
  <%= form_with model: product, url: seller_products_path(@seller), id: "new_product", html: { class: "form-dashboard d-flex flex-column align-items-start bg-light rounded-lg" } do |f| %>

    <div class="form-group form-dashboard-field">
      <%= f.label :category, t(:category), class: "label-dashboard" %>
      <%= f.select(:category, options_for_select(Category.all_as_hash[params['locale']]), {}, { class: "form-control input-dashboard" }) %>
    </div>

    <div class="form-group form-dashboard-field">
      <%= f.label :name, t(:name), class: "label-dashboard" %>
      <%= f.text_field :name, class: "form-control input-dashboard" %>
    </div>

    <div class="form-group form-dashboard-field">
      <%= label_tag :en, t(:available_en), class: "label-dashboard" %>
      <%= check_box_tag :new_product_en, :en, false, class: "check-dashboard" %>
    </div>

    <div class="form-group form-dashboard-field">
      <%= f.label :description, t(:description_en), class: "label-dashboard" %>
      <%= f.text_field :description, class: "form-control input-dashboard" %>
    </div>
    
    <% I18n.non_default_locales_hash.each do |sym, string| %>
      <div class="form-group form-dashboard-field">
        <%= label_tag sym, t(:available) + t(string), class: "label-dashboard" %>
        <%= check_box_tag "new_product_" + sym.to_s, sym, false, class: "check-dashboard" %>
      </div>

      <%= f.fields_for :product_translations do |trans| %>
        <div class="form-group form-dashboard-field">
          <%= trans.label :description, t(:description) + " " + t(string), class: "label-dashboard" %>
          <%= trans.text_field :description, class: "form-control input-dashboard" %>
          <%= trans.hidden_field :lang, value: sym %>
        </div>
      <% end %>
    <% end %>

    <%= f.hidden_field :translations, value: "" %>

    <div class="form-group form-dashboard-field">
      <%= f.label :price, t(:price), class: "label-dashboard" %>
      <%= f.number_field :price, class: "form-control input-dashboard" %>
    </div>

    <div class="form-group form-dashboard-field">
      <%= f.label :price_excl_vat, t(:price_excl_vat), class: "label-dashboard" %>
      <%= f.number_field :price_excl_vat, class: "form-control input-dashboard" %>
    </div>

    <div id="new_product_tags_english" style="display:none;">
      <div class="form-group d-flex flex-column form-dashboard-field">
        <%= f.fields_for :product_tags do |tags| %>
          <div class="d-flex">
            <%= tags.label :tag, t(:tag) + " " + t(:english), class: "label-dashboard" %>
            <%= tags.text_field :tag, class: "form-control input-dashboard tag-dashboard" %>
            <%= tags.hidden_field :lang, value: "en" %>
          </div>
        <% end %>
      </div>
    </div>

    <% I18n.non_default_locales_hash.each do |sym, string| %>
      <div id="new_product_tags_<%= string %>" style="display:none;">
        <div class="form-group d-flex flex-column form-dashboard-field">
          <%= f.fields_for :product_tags do |tags| %>
            <div class="d-flex">
              <%= tags.label :tag, t(:tag) + " " + t(string), class: "label-dashboard" %>
              <%= tags.text_field :tag, class: "form-control input-dashboard tag-dashboard" %>
              <%= tags.hidden_field :lang, value: sym.to_s %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="form-group form-dashboard-field">
      <%= f.label :cover, t(:cover), class: "label-dashboard" %>
      <%= f.file_field :cover, class: "file-dashboard" %>
    </div>

    <div class="form-group form-dashboard-field">
      <%= f.label :images, t(:images), class: "label-dashboard" %>
      <%= f.file_field :images, multiple: true, class: "file-dashboard" %>  
    </div>

    <%= f.hidden_field :seller_id, value: @seller.id %>
    
    <div class="action submit-dahsboard">
      <%= f.submit t(:create), class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

<script type='text/javascript'>
  var new_product_en = document.getElementById('new_product_en'), 
    new_product_fr = document.getElementById('new_product_fr'),
    new_product_hidden = document.getElementById('product_translations'),
    new_product_tags_en = document.getElementById('new_product_tags_english'),
    new_product_tags_fr = document.getElementById('new_product_tags_french');

  new_product_en.addEventListener('change', function() {
    if(this.checked) {
        new_product_hidden.value = new_product_hidden.value += "|en"
        new_product_tags_en.style.display = 'inline-flex'
    } else {
        new_product_hidden.value = new_product_hidden.value.replace("en", "")
        new_product_tags_en.style.display = 'none'
    }
  }, false);

  new_product_fr.addEventListener('change', function() {
    if(this.checked) {
        new_product_hidden.value = new_product_hidden.value += "|fr"
        new_product_tags_fr.style.display = 'inline-flex'
    } else {
        new_product_hidden.value = new_product_hidden.value.replace("fr", "")
        new_product_tags_fr.style.display = 'none'
    }
  }, false);
</script>