<span>New Product</span>

<%= form_with model: product, url: seller_products_path(@seller), id: "new_product" do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br/>
  <%= f.label :category, "Category" %>
  <%= f.select(:category, options_for_select(Category.all.map(&:name)
)) %><br/>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %><br/>
  <%= f.label :price, "Price" %>
  <%= f.text_field :price %><br/>
  <%= f.label :price_excl_vat, "Price excl vat" %>
  <%= f.text_field :price_excl_vat %><br/>
  <%= f.fields_for :product_tags do |tf| %>
    <%= tf.label :tag %>
    <%= tf.text_field :tag %><br/>
  <% end %>
  <%= f.label :cover, "Cover picture" %>
  <%= f.file_field :cover %><br/>
  <%= f.label :images, "Images" %>
  <%= f.file_field :images, multiple: true %><br/>  
  <%= f.hidden_field :seller_id, value: @seller.id %>
  <%= f.submit "Create" %>
<% end %>