<span>New Product</span>

<%= form_with model: product, url: seller_products_path(@seller) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br/>
  <%= f.label :name, "Slug" %>
  <%= f.text_field :slug %><br/>
  <%= f.label :category, "Category" %>
  <%= f.text_field :category %><br/>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %><br/>
  <%= f.label :price, "Price" %>
  <%= f.text_field :price %><br/>
  <%= f.label :price_excl_vat, "Price excl vat" %>
  <%= f.text_field :price_excl_vat %><br/>
  <%= f.hidden_field :seller_id, value: @seller.id %>
  <%= f.fields_for :product_tags do |tf| %>
    <%= tf.label :tag %>
    <%= tf.text_field :tag %><br/>
  <% end %>
  <%= f.submit "Create" %>
<% end %>